.custom-jumbo {
  padding: 1rem;
  height: 350px;

  background: url("../../assets/images/Staub_Header.jpg") center center no-repeat;
  background-size: cover;

  .user-card {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 1em;

    .btn-custom {
      background: #ffc956;
      border: 1px solid #ffc956;
      color: #131313;
      font-weight: 600;
    }
    // .btn-custom:hover {
    //   background: transparent;
    // }
  }
}

.custom-file-label {
  text-overflow: ellipsis;
    overflow: hidden;
}

@media only screen and (max-width: 991px) {
	.display-4.text-white {
		font-size: 36px;
  }
  
  .custom-jumbo {
    height: 450px;
  }
}